.header {
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5px rgb(232, 232, 232) solid;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
  
  .title {
    font-size: 2em;
    margin: 0;
  }
  
  @media (max-width: 600px) {
    .header-content {
      flex-direction: column;
      text-align: center;
    }
  
    .logo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  